{% set board = args['board'] %}
{% set threads = args['threads'] %}
<a href="/">Main page</a>
<div>
	<form enctype="multipart/form-data" method="post" action="/{{board['name']}}/">
		Title: <input type="text" name="title" /><br />
		Text: <textarea name="message">
		</textarea><br />
		Image: <input type="file" name="image" /><br />
		<input type="submit" />
	</form>	
	<div>
		<hr />
		{% for thread in threads %}
			{% for post in thread %}
				<div class="post">
					<span class="title">{{ post['title'] }}</span>&nbsp;
					<a href="/{{ board['name'] }}/{{ post['number'] }}">{{ post['number'] }}</a> <br />
					<br  />
					{% if post['image'] != '' %}
						<img src="/static/images/{{ post['image'] }}" width="200" />
					{% end %}
					<br />
					{{ post['text'] }}<br />
				</div>
			{% end %}
			<hr />
		{% end %}
	</div>
</div>
