{% set board = args['board'] %}
{% set threads = args['threads'] %}
<a href="/">Main page</a>
<div>
	<form enctype="multipart/form-data" method="post" action="/{{board['name']}}/">
		Title: <input type="text" name="title" /><br />
		Text: <textarea name="message">
		</textarea><br />
		Image: <input type="file" name="image" /><br />
		<input type="submit" />
	</form>	
	<div>
		<hr />
		{% for thread in threads %}
				<div class="post">
					<span class="title">{{ thread['title'] }}</span>&nbsp;
					<a href="/{{ board['name'] }}/{{ thread['number'] }}">{{ thread['number'] }}</a> <br />
					<br  />
					{% if thread['image'] != '' %}
						<img src="/static/images/{{ thread['image'] }}" width="200" />
					{% end %}
					<br />
					{{ thread['text'] }}<br />
				</div>
			<hr />
		{% end %}
	</div>
</div>
