{% set thread = args['thread'] %}
{% set board = args['board'] %}
{% for post in thread %}
	<div class="post">
		<span class="title">{{ post['title'] }}</span> {{ post['number'] }}
		<br />
		{% if post['image'] != '' %}
			<img src="/static/images/{{ post['image'] }}" width="200" />
		{% end %}
		<br />
		{{ post['text'] }}
	</div>
{% end %}
<form enctype="multipart/form-data" method="POST" action="/{{ board }}/{{ thread[0]['number'] }}">
	Title: <input type="text" name="title" /> <br />
	Text: <textarea name="text" >
	</textarea><br />
	<input type="file" name="image" /><br />
	<input type="submit" />
</form>
